<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<div>

</div>

<%= link_to "add/edit bank info", edit_user_path(@user) %>

<% if true %>
  <p>
    <%= image_tag @user.pictures.last.picture.url %>

  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
