<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<div>

</div>


<% if false %>
  <p>
    <%= image_tag @user.picture.url %>
    <%= image_tag @user.picture.url(:medium) %>
    <%= image_tag @user.picture.url(:thumb) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
